---
import Layout from '../../templates/Layout.astro';
---
<Layout title="Experiences" description="Swim with dolphins, whales, diving, sound journeys">
  <main class="mx-auto max-w-6xl px-4 py-12">
    <h1 class="text-3xl font-semibold">Experiences</h1>
    <ul class="mt-6 grid gap-6 md:grid-cols-2">
      <li class="border rounded-xl p-6"><a href="/experiences/swim-with-dolphins">Swim with Dolphins</a></li>
      <li class="border rounded-xl p-6"><a href="/experiences/whale-watching">Whale Watching</a></li>
    </ul>
  </main>
</Layout>
